* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: #141c2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  margin: 0 auto;
  text-align: center;
  width: 95%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .modeToggle {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f2a48;
  border-radius: 6px;
  padding-inline: 1rem;
  cursor: pointer;
}

.card .cardHeader {
  display: flex;
  align-items: center;
  margin-block: 1rem;
}

.card .imgContainer img {
  border-radius: 50%;
  width: 50%;
  height: auto;
}

.card .userGreeting {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .App {
    width: 300px;
  }
}
